html, body{
    width: 95%;
    height: 90%;
    padding: 2%;
    background-color: rgba(150, 192, 119, 0.73);
}
p{
    color: darkmagenta;
}
button{
    border-radius: 3px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
table {
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    border-radius: 6px;
    border-spacing: 0;
    text-align: center;
}
th {
    background: #BCEBDD;
    color: #000000;
    text-shadow: 0 1px 1px #fffefe;
    padding: 3px 3px;
}



th, td {
    cursor: pointer;
    padding: 6px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
th:first-child, td:first-child {
    text-align: left;
}
th:first-child {
    border-top-left-radius: 6px;
}
th:last-child {
    border-top-right-radius: 6px;
    border-right: none;
}
td {
    padding: 6px 6px;
    background: #F8E391;
}
tr:last-child td:first-child {
    border-radius: 0 0 0 6px;
}
tr:last-child td:last-child {
    border-radius: 0 0 6px 0;
}
tr td:last-child {
    border-right: none;
}




button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
button:hover {
    background-color: #3e8e41;
}

.none-level, .none-cross{
    text-shadow: 0 0 0 #000000;
    color: transparent;
    animation: shadows 120s infinite ease-in;
}

.lower-level{
    text-shadow: 0 0 0 #000000;
    color: transparent;
    animation: gradient-animation 3s infinite ease-in;
}

@keyframes gradient-animation {
    0% {
        text-shadow: 0 0 0 #ff0000;
    }
    25% {
        text-shadow: 0 0 0 #d000ff;
    }
    50% {
        text-shadow: 0 0 0 #ff0000;
    }

    75% {
        text-shadow: 0 0 0 #d000ff;
    }

    100% {
        text-shadow: 0 0 0 #ff0000;
    }
}

@keyframes shadows {
    1% {
        text-shadow: 0 0 0 #000000;
    }
    1.5% {
        text-shadow: 0 30px 40px transparent;
    }
    2% {
        text-shadow: 0 0 0 transparent;
    }

    100% {
        text-shadow: 0 0 0 transparent;
    }
}




[id=root]{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

[id=header]{
    height: 15%;
}



[id=centeralTopic] {
    border-radius: 6px;
    height: 10%;
    width: 100%;
    background-color: rgba(110, 236, 104, 0.92);
    text-align: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
}
[id=content] {
    height: 90%;
    width: 100%;
}

[id=rightTopic] {
    display:inline-block;
    margin: 2%;
    padding: 2%;
    width: 27%;
    height: 85%;
    border-radius: 6px;
    background-color: rgba(163, 255, 142, 0.69);
}
[id=instrumentInfo] {
    display:inline-block;
    margin: 2%;
    padding: 2%;
    width: 55%;
    height: 85%;
    border-radius: 6px;
    text-align: center;
    float: left;
    background-color: rgba(173, 255, 196, 0.84);
    font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
}
[id=candlesResolutionDiv] {
    height: 10%;
    border-radius: 6px;
    margin: 5px;
    text-align: center;
}
[id=buttons]{
    margin: 5px;
}

[id=pageNum]{
    border-radius: 3px;
    background-color: #4CAF50; /* Green */
    color: white;
}

[id=chart_div]{
    padding: 3px;
    margin: 3px;
    height: 60%;
    width: 100%;
}
