<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stocks</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/files/trading/common.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


</head>
<body>
<div id = "root">
    <div id = "centeralTopic">
        <h1>Emil's Investing</h1>
    </div>
    <div id="content">
        <div id = "instrumentInfo">
            <div id="header"></div>
            <div id="candlesResolutionDiv"></div>
            <div id="chart_div"></div>
        </div>
        <div id = "rightTopic">
            <div id  = "searcherByTickerDiv"></div>
            <div id="levelCheckboxDiv"></div>
            <div id = "buttons"></div>
            <div id = "stocks"></div>
        </div>
    </div>
    <script type="text/javascript" src="/files/trading/active.js"></script>
</div>
</body>
</html>