<!DOCTYPE html>
<html lang="en">
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Stocks</title>

</head>
<body>
    <div id = "root">
        <div id  = "searcherByTickerDiv">
        </div>
        <div id = "stocks">

        </div>
        <div id = "buttons">

        </div>
    </div>
</body>

<script type="text/javascript">

    var stocksOnOnePage = 10;
    var page = 1;
    var withLevel = false;

    setSearcherByTicker();
    getStocks();
    addBackAndNext();

    function getStocks(){
        jQuery.getJSON('http://localhost:8080/trading/stocks.json?'
            +'from=' +stocksOnOnePage*(page-1)
            +'&to='+ stocksOnOnePage*page
            +'&withLevel=' + withLevel, null, onJsonLoad);


    }


    function onJsonLoad(data, textStatus, jqXHR) {
        stocks = data;

        var temp = "";

        for(var i = 0; i < stocks.length; i++){
            lol1 = "<p>";
            lol2 = "<a href = 'stocks/graphic/figi/" + stocks[i].marketInstrument.figi +"'>"
                    + stocks[i].marketInstrument.name + "</a>"
            lol3 = getLevel(stocks[i].level) +"</p>";
            temp += lol1+lol2+lol3;

        }
        document.getElementById("stocks").innerHTML = temp;
    }


    function addBackAndNext(){

        document.getElementById("buttons").innerHTML=
            "<input type='button' id = 'back' value='Назад'>"
            +page
            +"<input type='button' id = 'next' value='Вперед'>";

        var back = document.getElementById("back");
        var next = document.getElementById("next");
        if(page <= 1) back.disabled = true;
        back.addEventListener('click', backPage, false);
        next.addEventListener('click', nextPage, false);
    }
    function nextPage(){
        page++;
        getStocks();
    }
    function backPage(){
        page--;
        getStocks();
    }


    function getLevel(level){
        if(level == null){
            return "";
        }
        if(level == "Upper level"){
            return "<div style='color:red'>: Upper level </div>";
        }
        if(level == "Lower level"){
            return "<div style='color:green'>: Lower level </div>";
        }
        if(level =="Coridor"){
            return "<div style='color:black'>: Coridor </div>";
        }
        return "<div style='color:white'>: None</div>"
    }

    function setSearcherByTicker(){
        document.getElementById("searcherByTickerDiv").innerHTML =
            "<input id = 'searcher' type='search' value='AAPL'>  Type ticker</input>";
        document.getElementById("searcher").addEventListener("keyup", function (e){
            alert(e.code);
            if(e.code == "Enter"){
                window.location.href = "stocks/graphic/ticker/" + this.value;
            }
        });
    }



</script>


</html>